<html>
  <body>
    <form method="POST" action="{{callbackUrl}}">
      <input type="text" name="username" />
      <input type="password" name="password"/>
      <input type="submit" name="submit" value="Submit" />
    </form>
  </body>
</html>